DirectoryIndex index.html

RewriteEngine On

# Redirect /home to /
RewriteRule ^home/?$ / [R=301,L]

# Redirect /index.html and any folder/index.html to clean URL
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html(?:[?\s]) [NC]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]


# Serve clean URLs without extension if a directory with index.html exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.*)$ /$1/ [L]

# Custom 404 Not Found Page
ErrorDocument 404 /404.html
